form .btn {
  width: 100%;
}

.modal-content {
  width: 280px;
  max-width: 100%;
}

.invisible {
  opacity: 0;
}

.alert-bag {
  display: block;
  height: 50px;
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 1em;
  margin-top: -12px;
  opacity: .4;

}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 4px;
  width: 10px;
  background: var(--gray);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 4px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 16px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 28px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 44px;
  }
  50%, 100% {
    top: 24px;
    height: 12px;
  }
}
